#btn {
    padding: 8px 15px;
    font-size: 1.2em;
    border: dashed;
    border-radius: 25px;
    background-color: #18a6ca;
    color: white;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

#btn:hover {
    transform: scale(1.1);
}

#btn:active {
    background-color: #010b21;
}
